<h2>Web server for MySport android app</h2>
<p>Right now website does not have any pages except this one and "404 not found page". 
    Later we gonna deploy web version for our project, right now we have desktop and mobile versions. 
    Waiting for some teammates to learn layouting in html... <br/> <br/> <b>See you later on our website!</b>
</p>